.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem;

  &__controls {
    display: flex;
    gap: 0.25rem;
  }

  &__pages {
    display: flex;
    gap: 0.35rem;
  }

  &__button,
  &__page {
    padding: 0.5rem;
    border: 1px solid #bfd7ed;
    border-radius: 0.35rem;
    background-color: white;
    color: #003b73;
    cursor: pointer;
    transition: all 0.4s ease-in-out;

    &:hover:not(:disabled) {
      background-color: #bfd7ed;
      border-color: #60a3d9;
      color: #003b73;
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  &__page {
    min-width: 2.7rem;
    text-align: center;

    &_active {
      background-color: white;
      color: #0074b7;
      border-color: #0074b7;
      font-weight: 600;
      outline: 1px solid #0074b7;
      outline-offset: 1px;

      &:hover {
        background-color: #0074b7;
        color: #bfd7ed;
      }
    }
  }
}
